<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LearningSuite" parallel="false" preserve-order="false" verbose="1" thread-count="1" >
    <test name="Smoke">
        <groups>
            <run>
                <include name="smokeTest" />
            </run>
        </groups>
        <classes>
<!--            <class name="package1.TestngLearning"/>-->
            <class name="package1.parallel"></class>
<!--            <class name="package2.depends"/>-->
        </classes>
    </test>
</suite>
