<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LearningSuite" parallel="false" preserve-order="true" verbose="1" >
    <test name="Smoke">
        <classes>
            <class name="package1.TestngLearning"/>
<!--            <class name="package2.depends"/>-->
        </classes>
    </test>
</suite>
